.turn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("@/assets/images/raffle-bg.png");
  background-size: 100% 100%;
  z-index: 4;

  .turn-btn {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    top: 280px;
    left: 600px;
    width: 146px;
    height: 178px;
    // width: 9.3%;
    // height: 25%;
    background-image: url("@/assets/images/raffle-btn.png");
    background-size: 100% 100%;
    z-index: 3;
  }

  .turn-circle {
    position: absolute;
    top: 0;
    left: 326px;
    width: 765px;
    height: 728px;
    // left: 28.8%;
    // width: 47.1%;
    // height: 97%;
    background-image: url("@/assets/images/raffle-circle.png");
    background-size: 100% 100%;
    z-index: 2;
  }

  .turn-loop {
    position: absolute;
    top: 130px;
    left: 430px;
    width: 494px;
    height: 494px;
    // top: 18.1%;
    // left: 35.3%;
    // width: 29.5%;
    // height: 64%;
    background-image: url("@/assets/images/raffle-loop.png");
    background-size: 100% 100%;
    z-index: 1;
    transition: transform 3000ms ease;
  }
}

.float-icon {
  position: absolute;
  top: 120px;
  right: 30px;
  left: 20px;
  z-index: 0;
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  .icon-second {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .icon-item {
    width: 164px;
    height: 148px;
    background-size: 100% 100%;

    &.icon1 {
      background-image: url("@/assets/images/icon1.png");
    }

    &.icon2 {
      background-image: url("@/assets/images/icon2.png");
    }

    &.icon3 {
      background-image: url("@/assets/images/icon3.png");
    }
  }
}

.lose-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;

  .lose-main {
    position: absolute;
    top: 120px;
    left: 50%;
    width: 640px;
    height: 540px;
    transform: translateX(-50%);
    background-image: url("@/assets/images/lose.png");
    background-size: 100% 100%;

    .close-btn {
      position: absolute;
      top: 10px;
      right: -80px;
      width: 96px;
      z-index: 1;
    }

    .handle-btn {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 70px;
      height: 72px;
      padding: 0 32px;
      background-color: #dba800;
      border-radius: 12px;
      border: 4px solid #5a392b;

      span {
        position: relative;
        z-index: 1;
        font-weight: bold;
        font-size: 30px;
        color: #333333;
        line-height: 64px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 90%;
        height: 6px;
        background-color: #fff8d8;
        border-radius: 12px;
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 60px;
        background-color: #ffdb30;
        border-radius: 12px;
      }
    }
  }
}

.bingo-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;

  .bingo-main {
    position: absolute;
    top: 75px;
    left: 50%;
    width: 640px;
    height: 634px;
    padding-top: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: translateX(-50%);
    background-image: url("@/assets/images/bingo.png");
    background-size: 100% 100%;

    .close-btn {
      position: absolute;
      top: 10px;
      right: -80px;
      width: 96px;
      z-index: 1;
    }

    .bingo-title {
      font-weight: bold;
      font-size: 32px;
      color: #333333;
      line-height: 44px;
    }

    .bingo-img {
      width: 120px;
      height: 120px;
    }

    .bingo-info {
      padding: 0 40px;
      height: 48px;
      border-radius: 24px;
      border: 2px solid #555289;
      font-size: 24px;
      line-height: 46px;
      color: #555289;
    }

    .handle-btn {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 80px;
      height: 72px;
      padding: 0 32px;
      background-color: #dba800;
      border-radius: 12px;
      border: 4px solid #5a392b;

      span {
        position: relative;
        z-index: 1;
        font-weight: bold;
        font-size: 30px;
        color: #333333;
        line-height: 64px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 90%;
        height: 6px;
        background-color: #fff8d8;
        border-radius: 12px;
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 60px;
        background-color: #ffdb30;
        border-radius: 12px;
      }
    }
  }
}
