.turn-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("@/assets/images/raffle-bg.png");
  background-size: 100% 100%;
  z-index: 4;

  .turn-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 152px;
    height: 188px;
    background-image: url("@/assets/images/raffle-btn.png");
    background-size: 100% 100%;
    z-index: 3;
  }

  .turn-circle {
    position: absolute;
    top: 0;
    left: 468px;
    width: 765px;
    height: 728px;
    background-image: url("@/assets/images/raffle-circle.png");
    background-size: 100% 100%;
    z-index: 2;
  }

  .turn-loop {
    position: absolute;
    top: 136px;
    left: 574px;
    width: 480px;
    height: 480px;
    background-image: url("@/assets/images/raffle-loop.png");
    background-size: 100% 100%;
    z-index: 1;
    transition: transform 3000ms ease;
  }
}
