.body-main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .bg-b {
    position: absolute;
    top: 0;
    width: 8117px;
    height: 100vh;
    background-image: url("@/assets/images/bg-b.png");
    background-size: 100% 100%;
    z-index: 1;
  }

  .train {
    position: absolute;
    top: 338px;
    width: 4710px;
    height: 312px;
    transform: translateX(-100%);
    background-image: url("@/assets/images/train.png");
    background-size: 100% 100%;
    z-index: 2;

    .door {
      position: absolute;
      top: 10px;
      width: 114px;
      height: 214px;
      background-image: url("@/assets/images/door-in.png");
      background-size: 100% 100%;

      .door-out {
        position: absolute;
        top: 0;
        left: 0;
        width: 114px;
        height: 214px;
        background-image: url("@/assets/images/door-out.png");
        background-size: 100% 100%;
        z-index: 1;
        transition: transform 200ms linear;

        &.door-open {
          transform: translateX(-100%);
        }
      }

      &:nth-of-type(1) {
        right: 526px;
      }

      &:nth-of-type(2) {
        right: 1180px;
      }

      &:nth-of-type(3) {
        right: 1984px;
      }

      &:nth-of-type(4) {
        right: 2788px;
      }

      &:nth-of-type(5) {
        left: 526px;
      }
    }
  }

  .bg-f {
    position: absolute;
    top: 0;
    width: 8117px;
    height: 100vh;
    background-image: url("@/assets/images/bg-f.png");
    background-size: 100% 100%;
    z-index: 3;
  }

  .float-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    z-index: 4;
    display: flex;
    justify-content: space-between;

    .icon-second {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    .icon-item {
      width: 164px;
      height: 148px;
      background-size: 100% 100%;

      &.icon1 {
        background-image: url("@/assets/images/icon1.png");
      }

      &.icon2 {
        background-image: url("@/assets/images/icon2.png");
      }

      &.icon3 {
        background-image: url("@/assets/images/icon3.png");
      }
    }
  }
}